[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
plotly = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
